<div class="list-group-select-all">
  <span ng-if="ntb.config.isCheckBoxList && contents.elements.items.length !== 0"><input type="checkbox" ng-model="ntb.selectAll" class="select-all-checkbox" ng-click="ntb.config.selectionAllCallback()" /> {{ ntb.config.i18n.select_all }}</span>
  <button ng-if="ntb.config.isCheckBoxList && contents.elements.items.length !== 0 && ntb.isSelectedCheckbox()" class="add-selected-checkbox btn-primary pull-right" ng-click="ntb.config.addSelectedCheckbox()" >{{ ntb.config.i18n.add_los }}</button>
</div>
<div class="list-group">

  <a class="list-group-item" ng-if="contents.parent && ntb.config.treeBrowseMethod === 'ui.router'" ui-sref=".folder({folder: contents.parent})">..</a>
  <a class="list-group-item" ng-if="contents.parent && ntb.config.treeBrowseMethod === 'click'"     ng-click="ntb.browseTo(contents.parent)">..</a>

  <a ng-repeat="item in contents.elements.folders | orderBy: ntb.config.sortListKey" ntb-list-item-list="item" type="'folder'"  ntb="ntb" class="list-group-item" ng-if="ntb.config.treeBrowseMethod === 'ui.router'" ui-sref=".folder({folder: item.id})"></a>
  <a ng-repeat="item in contents.elements.folders | orderBy: ntb.config.sortListKey" ntb-list-item-list="item" type="'folder'"  ntb="ntb" class="list-group-item" ng-if="ntb.config.treeBrowseMethod === 'click'"     ng-click="ntb.browseTo(item.id)"></a>

  <a ng-repeat="item in contents.elements.items | orderBy: ntb.config.sortListKey" ntb-list-item-list="item" type="'item'"  ntb="ntb" class="list-group-item" ng-click="ntb.config.selectionCallback(item)"></a>
</div>
