<table class="table">
  <thead>
    <tr>
      <th ng-repeat="column in ntb.config.columns">
        {{ column.i18n }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="contents.parent">
      <td colspan="{{ ntb.config.columns.length }}">
        <a ng-if="ntb.config.treeBrowseMethod === 'ui.router'" ui-sref=".folder({folder: contents.parent})">..</a>
        <a ng-if="ntb.config.treeBrowseMethod === 'click'"     ng-click="ntb.browseTo(contents.parent)">..</a>
      </td>
    </tr>
    <tr ng-repeat="item in contents.elements.folders | orderBy: 'name'" ntb-list-item-table="item" type="'folder'" ntb="ntb"></tr>
    <tr ng-repeat="item in contents.elements.items | orderBy: 'name'"   ntb-list-item-table="item" type="'item'" ntb="ntb"></tr>
  </tbody>
</table>