<!doctype html>
<html ng-app="neduTreeBrowser">
  <head>
    <meta charset="utf-8">
    <title>neduTreeBrowser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid" ng-controller="MainController as main">

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label>Endpoint</label>
              <select class="form-control" ng-options="endpoint as endpoint.url2 for endpoint in main.endpoints" ng-model="main.selectedEndpoint" ng-change="main.changeEndpoints()"></select>
            </div>
            <div class="form-group">
              <label>Display type</label>
              <select class="form-control" ng-options="displayType as displayType.name for displayType in main.displayTypes" ng-model="main.selectedDisplayType" ng-change="main.changeDisplayType()"></select>
            </div>
            <div class="form-group">
              <label>Display type</label>
              <div class="row">
                <div class="col-sm-4">key</div>
                <div class="col-sm-4">i18n</div>
                <div class="col-sm-1">ico</div>
                <div class="col-sm-1">link</div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row" ng-repeat="col in main.ntbConfig.columns">
                <div class="col-sm-4">
                  <input class="form-control input-sm" ng-model="col.key"/>
                </div>
                <div class="col-sm-4">
                  <input class="form-control input-sm" ng-model="col.i18n"/>
                </div>
                <div class="col-sm-1">
                  <input type="checkbox" ng-model="col.hasIcon"/>
                </div>
                <div class="col-sm-1">
                  <input type="checkbox" ng-model="col.hasLink"/>
                </div>
                <div class="col-sm-1">
                  <button class="btn btn-default btn-sm" ng-click="main.removeColumn($index)">-</button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 "><button class="btn btn-default btn-sm" ng-click="main.addColumn()">+ Column</button></div>
              </div>
            </div>
            <div class="form-group">
              <small>Available demo columns:<br/>[id, name, tags, creator, created_at, updated_by, updated_at]</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <ntb-browser ntb="main.ntbInstance"></ntb-browser>
          </div>
        </div>
      </div>
    </div>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
